{% extends "layout.html" %}

{% block body %}
    <h1> Add a Birthday </h1>
    <form action = "/sucess" method = "post">
        <input autocomplete = "off" autofocus name = "name" placeholder = "Name" type = "text">
        <input autocomplete = "off" autofocus name = "day" placeholder = "Day" type = "numeric">
        {% for month in months %}
            <input autocomplete = "off" autofocus name = "month" value = "{{ month }}" type = "numeric">
        {% endfor %}
        <input type = "submit" value = "Add Birthday">
    </form>
{% endblock %}
