{% extends "index.html" %}

{% block body %}
    <h1>All Birthdays</h1>
    <form action = "/information" method = "get">
        <input autocomplete = "off" autofocus = "name" placeholder = "Name" type = "text">
        <input autocomplete = "off" autofocus = "month" placeholder = "Month" type = "numeric">
        <input autocomplete = "off" autofocus = "day" placeholder = "Day" type = "numeric">
    
        {% for month in months %}
            <input name = "month" value = "{{ month }}"> {{ month }}
            <input name = "day" value = "{{ day }}"> {{ day }}
        {% endfor %}
        
        <input type = "button" value = "Add Birthday">
    
    </form>
    
{% endblock %}
    
